/*******element selector*******/
body {
  background-color: #000;
  font-family: "Helvetica" sans-serif;
  color: seashell;
  opacity: 1;
  font-size: 1.35rem;
}
h2 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
  padding: 10px;
}
h5 {
  font-size: 1.75rem;
  font-weight: bolder;
}
p {
  margin: 0 59px;
}
span {
  margin-left: 20px;
}
/******id selector*****/
#top-nav {
  width: 100%;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid seashell;
}
#special, #location, #contact {
  text-align: center;
}

/******class selector*******/
.iconbar {
  margin-right: 0.6%;
}
.logo {
  padding: 0.4%;
}
.links {
  margin-left: 65%;
}
.nav-link {
  margin: 0 2rem;
  text-decoration: underline;
}
.background-pic {
  width: 90%;
  margin: 6% 5% 0;
}
.heading {
  position: relative;
  bottom: 700px;
  background-color: #000;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}
.promotions-pic {
  width: 100%;
}
.promotions-pics {
  width: 65%;
  margin-right: 32%
}
.promotions-pics-tea {
  width: 65%;
  margin-left: 32%
}
.insidecol {
  padding: 0 25px;
}
.myrtle {
  margin-left: 30%;
}
.bedford {
  margin-right: 30%;
}
.location-background {
  width: 90%;
  margin: 10% 5% 0;
}
.place {
  padding-bottom: 2.5%;
}
.location-info {
  position: relative;
  bottom: 810px;
  line-height: 2.5;
}
.downtown {
  margin: 0 106px;
}
.get-in-touch {
  position: relative;
  bottom: 310px;
}
.end, .get {
  padding: 10px 0;
}
/******media query******/
@media (max-width: 553px) {
  .background-pic {
    margin-top: 19%;
  }
  .heading {
    bottom: 220px;
  }
  h2 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 1rem;
  }
}
@media (min-width: 554px) and (max-width: 790px ) {
  .background-pic {
    margin-top: 14%;
  }
  .heading {
    bottom: 235px;
  }
  h2 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 1rem;
  }
}
@media (min-width: 660px) and (max-width: 790px ) {
  .heading {
    bottom: 265px;
  }
  h2 {
    font-size: 1.45rem;
  }
  h4 {
    font-size: 1.25rem;
  }
}
@media (min-width: 992px) and (max-width: 1550px ) {
  .navbar-expand-lg .navbar-nav {
    margin-left: 30%;
  }
  .location-info {
    position: static;
  }
  .get-in-touch {
    position: static;
  }
  p {
    margin: 0 10px;
  }
  .downtown {
    margin: 0 55px;
  }
  .heading {
    bottom: 452px;
  }
}
@media (min-width: 1185px) and (max-width: 1550px ) {
  .navbar-expand-lg .navbar-nav {
    margin-left: 50%;
  }
}
@media (max-width: 991px) {
  .promotions-pics {
    width: 100%;
    margin: 0;
  }
  .promotions-pics-tea {
    width: 100%;
    margin: 0;
  }
  .myrtle {
    margin: 0;
  }
  .bedford {
    margin: 0;
  }
  .location-info {
    position: static;
  }
  .get-in-touch {
    position: static;
  }
  .end {
    font-size: 1.45rem;
    font-weight: bolder;
  }
  .get {
    font-size: 1.25rem;
  }
}
@media (min-width: 960px) and (max-width: 1090px) {
  .heading {
    bottom: 422px
  }
  .downtown {
    margin: 0 42px;
  }
  p {
    margin: 0 15px;
  }
  .location-info {
    position: static;
  }
  .get-in-touch {
    position: static;
  }
}
